#page-body{
  margin-top:5%;
}

article{
  width: 50% !important;
}

article .category-list-view-port{
  display:none !important;
}

article .thumb-image{
  width: 240px !important;
  height: 240px !important;
}
article .thumb-inner img{
  width: 240px !important;
  height: 240px !important;
}
.owl-dots{
  display:none !important;
}
