.variation-select > .input-select > select option [disabled] ::after{
  color: red;
  content:"-SOLD";
}

.ausverkauft{
  color: #d9534f !important;
}

.startseite-picture-container{
  width:800px;
  height:500px;
}

@media screen and (max-width: 990px) {

  article .category-list-view-port{
    display:none !important;
  }

  .owl-dots{
    display:none !important;
  }

  .cmp-product-thumb .thumb-title{
    min-height: 10px !important;
  }
  .startseite-picture-container{
    width:500px;
    height:300px;
  }

  .brand-wrapper .navbar-toggler{
        position: relative;
        padding: 1rem 1.25rem;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
  }
  .navbar-brand{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
  }

}

@media screen and (max-width: 542px) {

  .widget-item-list article{
    width: 90% !important;
    margin:0 auto !important;
  }

  article .category-list-view-port{
    display:none !important;
  }

  article .thumb-image{
    width: 100% !important;
    height: 100% !important;
  }
  .owl-dots{
    display:none !important;
  }
  .cmp-product-thumb .thumb-content{
    width: 100% !important;
    margin-top:5px !important;
  }

  .cmp-product-thumb .thumb-title{
    min-height: 10px !important;
  }

  .product-list li{
    width: 50% !important;
    padding: 5px !important;
  }
  .startseite-picture-container{
    width:317px;
    height:190px;
  }
}

@media screen and (max-width: 350px) {
  #page-body{
    margin-top:4% !important;
  }
}

.list-controls{
  margin-bottom:0 !important;
}

.cmp-paginator{
  margin-bottom:20px !important;
}

.basket-preview-footer{
  padding-bottom:15px !important;
}

.availability_1,.availability_2,.availability_3,.availability_4,.availability_5{
  background-color:transparent !important;
  color: #4d4f4d !important;
  padding: 0 !important;
}

.special-tags, .list-controls-inner, .vat-porto-info, .vat, .base-price,
.category-unit-price, .item-bundle, .add-to-basket-lg-container{
  display:none !important;
}

.cookie-bar__wrapper,
.cookie-bar__wrapper button{
  background-color:#4d4f4d !important;
}
