#page-body{
  margin-top:12% !important;
}

article{
  width: 50% !important;
  margin:0 auto !important;
}

article .category-list-view-port{
  display:none !important;
}

article .thumb-image{
  width: 10rem !important;
  height: 16rem !important;
}
.owl-dots{
  display:none !important;
}
.cmp-product-thumb .thumb-content{
  width: 100% !important;
  margin-top:0.2rem !important;
}

.list-controls m-b-3{
  display: none;
}
